/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$_base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

@import 'https://fonts.googleapis.com/css?family=Dancing+Script:400,700';
$dancing-font: 'Dancing Script', cursive;

@import 'https://fonts.googleapis.com/css?family=Yrsa:300,400,500,700';
$base-font: 'Yrsa', serif;

@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700';
$lora-font: 'Lora', serif;



// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Our colors

$midnight-blue: rgba(44, 62, 80,1.0);
$midnight-blue-80: rgba(44, 62, 80,0.8);
$midnight-blue-50: rgba(44, 62, 80,0.5);
$wet-blue: rgba(52, 73, 94,1.0);
$belize-blue: rgba(41, 128, 185,1.0);
$river-blue: rgba(52, 152, 219,1.0);

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
