<h2>Hey <%= @user.first_name %>,</h2>

 <h3>Welcome to La Plume</h3>

<p>Hey there,</p>

<p>I'm Brice, From <em>laplume</em>. I saw that you started to check out but didn't complete the process. I thought I'd get in touch to see if there is anything I could help with?</p>

<p>I'm always super focused on improving <em>laplume</em> and love feedback as much as I love Vim and tmux, so please do let me know if you have any concerns or suggestions (feel free to reply directly to this email).</p>

<p>I'm really proud of the product we have put out. We've worked really hard on the videos, forums, exercises and overall product to make something we feel great about sharing with the world.</p>

<p>We offer a 30 day no hassle money back guarantee. Give it a try, and let me know what you think?</p>

