.wrapper-blue {
  padding-left: 25px;
  padding-right: 25px;
}
.blued {
  background-color: #e8f1f5;
  border-radius: 3px;
  padding-top: 10px;
}
.mission-important {
  background: rgba(255,255,255, 0.8);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.mission-important h3 {
  font-size: 25px;
  color: #00334E;
}
.mission-important p {
font-family: $_base-font;
font-size: 15px;
color: #00334E;
}
