<div class="wrapper-profil">
  <div class="container">
    <div class="row">
      <div class="infos-profil">
        <div class="identity-card">
          <div class="col-xs-9">
            <img class="avatar-large" src="http://img.ohmymag.com/kate-middleton/catherine-middleton-est-une-nouvelle-femme_87550_w300.jpg">
            <div id=    "">
            <h1>Jeannine Dufour</h1>
            <h3>Lyon</h3>
            <ul class="list-inline">
              <li>Biography</li>
              <li>Copywritter</li>
            </ul>
            </div>
          </div>
        </div>
      <div class="pricing-profil">
        <div class="col-xs-3">
          Prix : 13€
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper-projects">
  <div class="container">
    <div class="row">
      <div class="card-project">
        <div class="col-xs-4">
        </div>
      </div>
      <div class="card-project">
        <div class="col-xs-4">
        </div>
      </div>
      <div class="card-project">
        <div class="col-xs-4">
        </div>
      </div>
    </div>
  </div>
</div>
<%= @user.email %>
