<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path "first-background.jpg" %>);">
  <div class="banner-content padded-bottom-15vh">
    <h1 class="text-center" >Find your ghostwriter</h1>
    <br>
    <h3 class="btn btn-large btn-danger"><%= link_to "View all writers", search_path, style: 'color:#FFFFFF; text-decoration:none;' %></h3>
  </div>
</div>

