.wrapper.padded {
  background-color: #ffffff;
  height: 100vh;
}
.form {
  padding: 15px 15px 15px 15px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
}
.form h3 {
  font-family: $base-font;
}
.form-actions {
  font-family: $dancing-font;
}
.wrapper.signup {
  background-color: #CABFAB;
}
.wrapper.experience {
  background-color: #41444B;
  height: 100vh;
}

#location-search-form {
  width: 40%;
}

#search-form {
  display: flex;
  font-family: "Open Sans";
}

#booking-button {
  text-decoration: none;
  color: white;
  border: none;
  padding: 15px;
  font-size: 20px;
  background-color: $midnight-blue;
  border-radius: 5px;
  font-family: "Dancing Script";
}

#booking-button:hover {
  background-color: $midnight-blue-80;
}

#field-150px {
  height: 150px;
}

