@import "alert";
@import "avatars";
@import "badges";
@import "cards";
@import "forms";
@import "resumes";
@import "experiences";
@import "panel_image";
@import "cv-summaries";
@import "buttons";


.padded-bottom-15vh {
  padding-bottom: 15vh;
}

.margin-5px {
  margin: 5px;
}

.margin-top-30px {
  margin-top: 30px;
}

.padded-left-5px {
  padding-left: 5px;
}

.display-inline {
  display: inline;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.box-shadow {
  background: white;                          /* White background */
  padding: 30px;                              /* Internal space */
  border-radius: 7px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
}
