<div class="wrapper">

<div class="wrapper-mission">
  <h2>Title</h2>
          <h4><%= @mission.title  %></h4>
          <br>
        <%= link_to 'back', missions_path, class: "btn btn-danger" %>

</div>

  <!-- OFFERS -->
  <div class="wrapper-offers">


  </div>
</div>





